/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
}

body {
  width: 500px;
  margin: 100px auto;
  min-height: 50vh;
  
}

h2 {
  font-size: 2rem;
  color: red;
  display: block;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
